#board {
  font-family: monospace;
  background-color: #8BD3F4;
  margin: 0;
  padding: 0;
  position: relative;
}

.post-it {
  position: absolute !important;
  width: 160px;
  height: 160px;
  box-shadow: -2px 2px 5px #555;
  overflow: scroll;

}

.post-it .header {
  background-color: white;
  opacity: 0.2;
  text-align: right;
  padding: 4px;
}

.post-it .header:hover {
  background-color: white;
  opacity: 0;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #939393;
}

.post-it .content {
  cursor: url('imgs/pen.png'), auto;
  height: 100%;
  padding: 10px;
  min-height: 70px;
  outline: none;
}

.ui-resizable-handle{
  background: url('');
}

.post-it:nth-child(even) {
  transform:rotate(4deg);
}
.post-it:nth-child(3n) {
  transform:rotate(-3deg);
}
.post-it:nth-child(5n) {
  transform:rotate(5deg);
}

#trash {
  height: 100px;
  width: 100px;
  position:absolute;
  bottom:0;
  right:0;
}

#github {
  height: 100px;
  width: 100px;
  position:absolute;
  opacity: 0.7;
  top:0;
  right:0;
}

#instructions {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
